/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* Map CodeMirror token classes to JupyterLab CSS variables */
.cm-comment {
  color: var(--jp-mirror-editor-comment-color);
}

.cm-keyword {
  color: var(--jp-mirror-editor-keyword-color);
}

.cm-def {
  color: var(--jp-mirror-editor-def-color);
}

.cm-string-2 {
  color: var(--jp-mirror-editor-string-2-color);
}
